############ HomeAssistant .gitignore ###############
# !/**

# Files with personal details
*.crt
*.csr
*.key
.google.token
.storage
.uuid
icloud/
google_calendars.yaml
harmony_media_room.conf
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
tradfri.conf
ha.env
.DS_Store

# Temporary files
*.db-journal
*.pid
tts

# automatically downloaded dependencies
deps
lib
www

# Log files
home-assistant.log
ozw_log.txt

# Development files
# /config/custom_components/hacs/**
# /config/custom_components/breaking_changes/**
# !/config/custom_components/hacs/.keep
# !/config/custom_components/breaking_changes/.keep
!/config/www/
!/config/www/**
.HA_version
