type: 'custom:floorplan-card'
# title: Simple Floorplan
config:
  image: /local/floorplan/ground-floorplan.svg
  rules:
    - entities:
        - binary_sensor.living_room_motion_fill
        - binary_sensor.library_motion_fill
        - binary_sensor.hallway_motion_fill
        - binary_sensor.kitchen_motion_fill
        - binary_sensor.front_door_motion_fill
        - binary_sensor.downstairs_bathroom_motion_fill
        - binary_sensor.outdoor_side_motion_fill
        - binary_sensor.outdoor_front_motion_fill
        - binary_sensor.outdoor_back_motion_fill
      states:
        - class: 'motion-fill-inactive'
          state: 'off'
        - class: 'motion-fill-active'
          state: 'on'

    - entities:
        - binary_sensor.living_room_motion_border
        - binary_sensor.library_motion_border
        - binary_sensor.kitchen_motion_border
        - binary_sensor.hallway_motion_border
        - binary_sensor.front_door_motion_border
        - binary_sensor.downstairs_bathroom_motion_border
      states:
        - class: 'motion-border-inactive'
          state: 'off'
        - class: 'motion-border-active'
          state: 'on'

    - entities:
        - binary_sensor.living_room_window_4_battery
        - binary_sensor.living_room_window_1_battery
        - binary_sensor.living_room_window_2_battery
        - binary_sensor.hallway_door_1_battery
        - binary_sensor.library_door_1_battery
        - binary_sensor.kitchen_window_1_battery
        - binary_sensor.kitchen_window_2_battery
        - binary_sensor.downstairs_bathroom_window_1_battery
        - binary_sensor.kitchen_door_1_battery
        - binary_sensor.living_room_window_3_battery
      states:
        - class: 'battery-warning-off'
          state: 'off'
        - class: 'battery-warning-on'
          state: 'on'

    - entities:
        - binary_sensor.downstairs_bathroom_window_1
      states:
        - class: 'opening-closed'
          state: 'off'
        - class: 'opening-open'
          state: 'on'
        - class: 'opening-unavailable'
          state: 'unavailable'

    - entities:
        - sensor.living_room_window_2
      states:
        - class: 'opening-closed'
          state: 'off'
        - class: 'opening-open'
          state: 'on'
        - class: 'opening-unavailable'
          state: 'unavailable'

  # - name: Sensors
    - entities:
        - sensor.day_room_temperature
        - sensor.kitchen_temperature
      text_template: '${entity.state ? entity.state + "\u00b0C" : "\#\#"}'
      class_template: '${entity.state ? "active" : ""}'
        # '
        # var temp = parseFloat(entity.state.replace("°", ""));
        # if (temp < 10)
        #   return "temp-low";
        # else if (temp < 30)
        #   return "temp-medium";
        # else
        #   return "temp-high";
        # '
  # - name: Sensors
    - entities:
        - sensor.day_room_therm
        - sensor.kitchen_therm
      class_template:

        # var temp = parseFloat(entity.state.replace("°", ""));
        '
        var temp = entity.state;

        if (temp < 17.5)
          return "temp-low";
        else if (temp < 21)
          return "temp-medium";
        else
          return "temp-high";
        '
    - entities:
        - sensor.day_room_humidity
        - sensor.kitchen_humidity
      text_template: '${entity.state ? entity.state + "\%" : "\#\#"}'
      class_template: '${entity.state ? "active" : ""}'
    # - entities:
    #     - switch.living_room_motion
    #   states:
    #     - class: 'living-room_fill'
    #       state: 'off'
    #     - class: 'living-room_fill'
    #       state: 'on'
  stylesheet: /local/floorplan/floorplan.css
