.motion-fill-inactive, .motion-border-inactive, .battery-warning-off {
  visibility: hidden !important;
}
.motion-fill-active, .motion-border-active {

}
.battery-warning-on {
  animation: blinker 1s step-start infinite !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.test-on {
  fill: white !important;
}
.test-off {
  visibility: hidden !important;
}
.test-unavailable {
  fill: grey !important;
}

.opening-closed {
  stroke: var(--primary-color) !important;
}
.opening-open{
  stroke: #DE3428 !important;
}
.opening-unavailable{
  stroke: grey !important;
}
