.motion-fill-inactive, .battery-warning-off {
  visibility: hidden !important;
}
.motion-fill-active {

}
.battery-warning-on {
  animation: blinker 1s step-start infinite !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.test-on {
  fill: white !important;
}
.test-off {
  visibility: hidden !important;
}
.test-unavailable {
  fill: grey !important;
}

.opening-closed {
  stroke: var(--primary-color) !important;
}
.opening-open{
  stroke: #DE3428 !important;
}
.opening-unavailable{
  stroke: grey !important;
}

.temp-low {
  fill: #02a7ff !important;
}
.temp-medium{
  fill: #f4b400 !important;
}
.temp-high{
  fill: #d63737 !important;
}
.light-fill-off{
  fill: var(--primary-color) !important;
} 
.light-fill-on{
  fill: #fbce42 !important;
}
/*.light-fill-unavailable{*/
/*  fill: #d63737 !important;*/
/*}*/
.unavailable {
  visibility: hidden !important;  
}
